<div class="title">
  工作经历
</div>
<div class="content-wrapper">
  <ul class="timer">
    <li>
      <div class="title">
        杭州字节数联科技有限公司
      </div>
      <div class="primary">
        2018/10 - 至今
      </div>
      <p>
        主要负责公司云桌面产品的需求梳理、技术选型以及上层应用的开发。
        也会培养新人，主要规划学习方向并带着做项目。
      </p>
    </li>
    <li>
      <div class="title">
        杭州乐本科技有限公司
      </div>
      <div class="primary">
        2017/10 - 2018/9
      </div>
      <p>
        主要负责完成咖啡机管理平台的服务端编写、管理员端编写、架构和需求梳理的工作。
      </p>
    </li>
    <li>
      <div class="title">
        杭州依萨卡信息科技有限公司
      </div>
      <div class="primary">
        2015/8 - 2017/10
      </div>
      <p>
        外包公司，在这里积累了大量项目经验。
        主要工作是项目开发，包括前后端，在我负责的项目里会做开发、需求梳理和项目跟进的工作。
      </p>
    </li>
  </ul>
</div>
