<div class="title">
  工作经历
</div>
<div class="content-wrapper">
  <ul class="timer">
    <li>
      <div class="title">
        杭州乐本科技有限公司
      </div>
      <div class="primary">
        2017/10 - 至今
      </div>
      <p>
        主要负责完成咖啡机管理平台的服务端编写、管理员端编写、架构和需求梳理的工作。
        以及各种各样老板的创业项目的实现，不过都比较简单，且项目时间很短，就不写了，主要负责其中的服务端和管理员端。
      </p>
    </li>
    <li>
      <div class="title">
        杭州依萨卡信息科技有限公司
      </div>
      <div class="primary">
        2015/8 - 2017/10
      </div>
      <p>
        这家公司为一个外包公司，在这里积累了大量项目经验。
        主要工作是项目开发，包括前后端，在我负责的项目里会做开发、需求梳理和项目跟进的工作。
        也会培养新人，主要在学习方向、方法上提供建议并解答问题。
      </p>
    </li>
  </ul>
</div>
