<div class="title">
  项目经验
</div>
<div class="content-wrapper">
  <ul class="timer">
    <li>
      <div class="title">
        失物招领网站 http://www.zhaolingtai.com
      </div>
      <div class="primary">
        2017/6 - 至今
      </div>
      <p>
        为一个发布失物招领、寻物启事以及用户搜索相关内容的网站。
        我在项目中作为前端开发人员，负责前端开发相关的所有工作，包括ui设计、代码编写、nginx服务器搭建并和服务端一起定义接口。
        该项目基于模块化、组件化和MVVM的设计模式开发，再借助TypeScript的类型系统，使得代码清晰、易扩展、好维护。
        主要框架为Angular4，样式方面使用BootStrap + Scss。
        使用angular-cli作为脚手架来搭建项目并借助其预编译系统提高性能，使用Tree Shaking来消灭无用代码、减小构建体积。
        使用nginx作为前端静态资源服务器提高性能和做反向代理，借助其文件缓存和gzip压缩功能来减小静态资源传输体积加速页面展示。
        后来需求更改，需要对几个页面进行SEO优化，由于使用单页面和前端渲染无法实现该需求，为了尽量少代码更改，使用prerender.io提供的服务在nginx做了一层过滤来针对搜索引擎的爬虫返回预先渲染好的页面实现。
      </p>
    </li>
    <li>
      <div class="title">
        微信公众号 依萨卡空车配货平台
      </div>
      <div class="primary">
        2017/6 - 至今
      </div>
      <p>
        为一个对接货主和司机的微信公众号，主要功能为货主发布物流信息，司机发布回头车信息。
        由于公司当时人手不够，所以整个项目由我一人完成。
        使用前后端分离的开发方式，前端主要技术栈为ng4 + ionic3，使用nginx做反向代理和解析子域名，前端技术相关和其他使用ng4的项目基本相同，就不介绍了，主要介绍服务端。
        服务端主要提供rest api，使用Nest(一个基于Express和TypeScript的框架) + TypeScript + Mongodb，单元测试使用mocha + chai。
        借助ts的强类型和面向对象的思想以及完整的单元测试，使得代码清晰、易扩展、好维护和健壮。
        系统模块主要按照业务逻辑和功能划分，模块内又分为controller层、service层和repository层，为每一个实体定义了class，为每个接口定义requestDto和responseDto(dto前后端都可以用)，
        使用了很多装饰器让每个类的职责更加单一。
        因为初期有让数据看起来比较多的需求，于是针对几个类似网站编写了几个爬虫做定时爬取。
        实际开发中发现微信调试很麻烦，必须要域名加80端口，于是研究后使用frp + nginx做了开发阶段用的内网穿透。
      </p>
    </li>
  </ul>
</div>
