<div class="title">
  项目经验
</div>
<div class="content-wrapper">
  <ul class="timer">
    <li>
      <div class="title">
        咖啡机管理平台
      </div>
      <div class="primary">
        2017/10 - 至今
      </div>
      <p>
        为一个管理咖啡机(底层为VMC，前端为Android)的平台，包括咖啡机的注册、下发商品组、下发工艺表、异常上报和商品制作等等功能。 我负责服务端编写、管理员端编写和需求梳理的工作。使用前后端分离的开发方式，前端主要技术栈为ng5 + ng-zorro。
        服务端主要提供rest api，使用Nest(一个基于Express和TypeScript的框架) + TypeScript + Mongodb，单元测试使用mocha + chai。 借助ts的强类型和面向对象的思想以及完整的单元测试，使得代码清晰、易扩展、好维护和健壮。
        系统模块主要按照业务逻辑和功能划分，模块内又分为controller层、service层和repository层，为每一个实体定义了class，为每个接口定义requestDto和responseDto(dto前后端都可以用)，
        使用了很多装饰器让每个类的职责更加单一。
      </p>
    </li>
    <li>
      <div class="title">
        失物招领网站 http://www.zhaolingtai.com
      </div>
      <div class="primary">
        2017/6 - 2017/10
      </div>
      <p>
        为一个发布失物招领、寻物启事以及用户搜索相关内容的网站。 我在项目中作为前端开发人员，负责前端开发相关的所有工作，包括ui设计、代码编写、nginx服务器搭建并和服务端一起定义接口。 该项目基于模块化、组件化和MVVM的设计模式开发，再借助TypeScript的类型系统，使得代码清晰、易扩展、好维护。
        主要框架为Angular4，样式方面使用BootStrap + Scss。 使用angular-cli作为脚手架来搭建项目并借助其预编译系统提高性能，使用Tree Shaking来消灭无用代码、减小构建体积。 使用nginx作为前端静态资源服务器提高性能和做反向代理，借助其文件缓存和gzip压缩功能来减小静态资源传输体积加速页面展示。
        <!-- 后来需求更改，需要对几个页面进行SEO优化，由于使用单页面和前端渲染无法实现该需求，为了尽量少代码更改，使用prerender.io提供的服务在nginx做了一层过滤来针对搜索引擎的爬虫返回预先渲染好的页面实现。 -->
      </p>
    </li>
    <!-- <li>
      <div class="title">
        小庭院移动端 http://m.xiaotingyuan.cn
      </div>
      <div class="primary">
        2017/5 - 2017/7
      </div>
      <p>
        为一个乡村土地交易的移动端网站。 技术相关同上，除了多了一个ionic3，然后UI是由专业的UI人员设计的。
      </p>
    </li> -->
    <li>
      <div class="title">
        微信公众号 依萨卡空车配货平台
      </div>
      <div class="primary">
        2017/6 - 2017/10
      </div>
      <p>
        为一个对接货主和司机的微信公众号，主要功能为货主发布物流信息，司机发布回头车信息。 由于公司当时人手不够，所以整个项目由我一人完成。 使用前后端分离的开发方式，前端主要技术栈为ng4 + ionic3，使用nginx做反向代理和解析子域名，前端技术相关和其他使用ng4的项目基本相同，就不介绍了，主要介绍服务端。
        服务端技术栈同上。 因为初期有让数据看起来比较多的需求，于是针对几个类似网站编写了几个爬虫做定时爬取。 实际开发中发现微信调试很麻烦，必须要域名加80端口，于是研究后使用frp + nginx做了开发阶段用的内网穿透。
      </p>
    </li>
    <li>
      <div class="title">连接小镇app 苹果商店搜索“连接小镇”下载</div>
      <div class="primary">
        2016/9 - 2016/12
      </div>
      <p>
        为梦想小镇运营方开发的一个管理游客来访、分配工作人员进行接待的hybrid app。 使用angularjs + ionic1开发，一套代码构建了Android + ios两个端，调用系统api主要使用cordova插件。 app有管理员、来访人员和接待人员三个角色，功能主要包括对来访信息的增删改查、审核以及分配，导航(检测使用手机上下载的高德或者百度地图)，支付宝支付。
        <!-- 本来有即时通讯功能，使用的第三方的融云，有文字聊天、发送图片和发送位置的功能，后来效果不好删掉了。 -->
        使用这种webview的方式和原生开发或者原生结合webview开发比起来效果上还是有点差距，并且十分依赖android和ios的cordova插件，没有的话就实现不了，不过开发速度确实很快。
      </p>
    </li>
  </ul>
</div>