<div class="title">
  项目经验
</div>
<div class="content-wrapper">
  <ul class="timer">
    <li>
      <div class="title">
        云桌面
      </div>
      <div class="primary">
        2018/10 - 至今
      </div>
      <p>
        项目介绍：https://www.byteconnect.cn。该项目使用前后端分离的开发方式，前端主要技术栈为ng8 + ng-zorro。前后端均使用Typescript开发，通过common包的机制，让很多代码可以复用，并使用代码生成工具直接生成前端service层http调用代码。
        服务端为微服务架构，各服务间通过Rabbitmq通信，使用Nestjs，数据库使用Mysql + Mongodb，终端与平台通信使用mqtt。
        借助ts的类型系统和面向对象的思想以及各类装饰器，使得代码清晰、易扩展、好维护。
      </p>
    </li>
    <li>
      <div class="title">
        公司内部ERP系统
      </div>
      <div class="primary">
        2018/10 - 2021/01
      </div>
      <p>
        用于公司内部员工、经销商、供应商以及设备管理。主要负责项目的需求梳理、进度管理以及部分开发工作，技术栈同上。
      </p>
    </li>
    <li>
      <div class="title">
        咖啡机管理平台
      </div>
      <div class="primary">
        2016/10 - 2018/10
      </div>
      <p>
        为一个管理咖啡机(底层为VMC，前端为Android)的平台，包括咖啡机的注册、下发商品组、下发工艺表、异常上报和商品制作等等功能。
        个人主要负责需求整理、管理项目进度和前后端的开发工作。
        前端(管理后台)使用Angular，后端使用nodejs + Nestjs。数据库使用mongodb。
      </p>
    </li>
    <li>
      <div class="title">
        游居者微信小程序 微信搜索“房车游居者”
      </div>
      <div class="primary">
        2018/01 - 2018/07
      </div>
      <p>
        为一个房车的咨询分享和租赁小程序。个人负责微信小程序和管理后台。基于小程序Typescript初始化项目开发。该项目大部分为手写，基本没用其他npm包和组件库。
      </p>
    </li>
    <li>
      <div class="title">
        小庭院移动端 http://m.xiaotingyuan.cn
      </div>
      <div class="primary">
        2017/5 - 2017/7
      </div>
      <p>
        为一个乡村土地交易的移动端网站。个人负责前端部分，使用Angular + ionic3。
      </p>
    </li>
    <li>
      <div class="title">连接小镇app</div>
      <div class="primary">
        2016/9 - 2016/12
      </div>
      <p>
        为梦想小镇运营方开发的一个管理游客来访、分配工作人员进行接待的hybrid app。 使用angularjs + ionic1开发，一套代码构建了Android + ios两个端，调用系统api主要使用cordova插件。
      </p>
    </li>
  </ul>
</div>