<div class="title">
  基本信息
</div>
<ul class="list list-unstyled">
  <li>
    手机: 15658898520
  </li>
  <li>
    微信: Jax2000
  </li>
  <li>
    生日: 1994/01/08
  </li>
  <li>
    邮箱: wudengguang@gmail.com
  </li>
  <li>
    学历: 浙江科技学院 土木工程 本科
  </li>
  <li>
    博客:
    <a
      target="_blank"
      href="https://segmentfault.com/u/jax2000/articles"
      class="primary">
      https://segmentfault.com/u/jax2000/articles
    </a>
  </li>
  <li>
    github:
    <a
      target="_blank"
      href="https://github.com/MinionsDave"
      class="primary">
      https://github.com/MinionsDave
    </a>
  </li>
</ul>
